<body>

  <div>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a href="#" class="navbar-brand">Biblioteca Online</a>
      <div class="navbar-nav mr-auto">
        <li class="nav-item" *ngIf="this.isAdmin()">
          <a routerLink="authors" class="nav-link">Autori</a>
        </li>
        <li class="nav-item" *ngIf="this.isAdmin()">
          <a routerLink="books" class="nav-link">Carti</a>
        </li>
        <li class="nav-item" *ngIf="this.isLoggedIn()">
          <a (click)="logout()" class="nav-link">Logout</a>
        </li>
      </div>
    </nav>

    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>

</body>
